@charset "UTF-8";
.services .container {
  width: 1170px;
}

.services .container .text {
  margin-top: 100px;
}

.services .container .text .title {
  font-size: 30px;
  color: #60606e;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 10px;
  position: relative;
  z-index: 1;
}

.services .container .text .title::before {
  content: "";
  height: 21px;
  width: 67px;
  background-color: #7beec7;
  position: absolute;
  bottom: 5px;
  z-index: -1;
}

.services .container .text .subtitle {
  margin: 0 auto;
  font-size: 16px;
  color: #878787;
  line-height: 1.75;
  text-align: center;
  margin-bottom: 50px;
  width: 600px;
}

.services .container .what-we-do .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 400px;
  margin-bottom: 150px;
}

.services .container .what-we-do .content .left {
  width: 50%;
  padding: 15px;
}

.services .container .what-we-do .content .left p {
  font-size: 16px;
  color: #878787;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 50px;
}

.services .container .what-we-do .content .left .lists ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services .container .what-we-do .content .left .lists ul li {
  width: 40%;
  margin-top: 20px;
  position: relative;
  padding-left: 20px;
  color: #60606e;
}

.services .container .what-we-do .content .left .lists ul li::before {
  font-family: "Ionicons";
  content: "✓";
  font-size: 10px;
  position: absolute;
  left: 0;
  top: calc(50% - 5px);
  color: #fff;
  background-color: #7beec7;
  width: 10px;
  height: 10px;
  line-height: 10px;
  text-align: center;
}

.services .container .what-we-do .content .right {
  width: 50%;
}

.services .container .what-we-do .content .right img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.services .container .advantages ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services .container .advantages ul li {
  width: 290px;
  padding: 20px;
}

.services .container .advantages ul li .icon {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  font-size: 50px;
  margin-bottom: 25px;
}

.services .container .advantages ul li .icon ion-icon {
  color: #60606e;
  position: relative;
  z-index: 1;
}

.services .container .advantages ul li .icon ion-icon::before {
  content: "";
  height: 20px;
  width: 40px;
  background-color: #7beec7;
  position: absolute;
  bottom: 5px;
  z-index: -1;
}

.services .container .advantages ul li .title {
  font-size: 20px;
  color: #60606e;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 10px;
  position: relative;
  z-index: 1;
}

.services .container .advantages ul li .subtitle {
  font-size: 14px;
  color: #878787;
  line-height: 1.75;
  text-align: center;
  margin-bottom: 50px;
}

.services .container .plans {
  margin-bottom: 50px;
}

.services .container .plans .plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services .container .plans .plan .block {
  border-top: #7beec7 5px solid;
  position: relative;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  padding: 25px;
}

.services .container .plans .plan .block:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}

.services .container .plans .plan .block::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-left: 10px transparent solid;
  border-top: 10px #7beec7 solid;
}

.services .container .plans .plan .block .title {
  font-size: 30px;
  font-family: "Montserrat";
  color: #60606e;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.6;
  text-align: left;
}

.services .container .plans .plan .block .price {
  padding: 0 10px;
  display: inline-block;
  font-size: 14px;
  font-family: "Montserrat";
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2.1;
  text-align: center;
  background-color: #7beec7;
}

.services .container .plans .plan .block ul {
  margin: 50px 0;
}

.services .container .plans .plan .block ul li {
  margin-top: 10px;
  position: relative;
  padding-left: 20px;
  color: #60606e;
}

.services .container .plans .plan .block ul li::before {
  font-family: "Ionicons";
  content: "✓";
  font-size: 10px;
  position: absolute;
  left: 0;
  top: calc(50% - 5px);
  color: #fff;
  background-color: #7beec7;
  width: 10px;
  height: 10px;
  line-height: 10px;
  text-align: center;
}

.services .container .plans .plan .block input {
  width: 165px;
  height: 50px;
  background-color: #7beec7;
  cursor: pointer;
  font-size: 14px;
  font-family: "Montserrat";
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 3.429;
  text-align: center;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.services .container .plans .plan .block input:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 1200px) {
  .services .container {
    max-width: 970px;
  }
  .services .container .advantages ul li {
    width: 375px;
  }
}

@media (max-width: 991px) {
  .services .container {
    max-width: 750px;
  }
  .services .container .what-we-do .content {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services .container .what-we-do .content .right {
    width: 100%;
  }
  .services .container .what-we-do .content .left {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .services .container {
    max-width: 100%;
  }
  .services .container .what-we-do .content {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services .container .what-we-do .content .right {
    width: 100%;
  }
  .services .container .what-we-do .content .left {
    width: 100%;
  }
}
/*# sourceMappingURL=servises.css.map */